<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Testimonies lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
  </div>

  <nav class="sidebar-nav">
    <%= link_to "Home", root_path, class: "sidebar-nav-item" %>
    <%= link_to "About", about_path, class: current_page?('/about') ? "sidebar-nav-item active" : "sidebar-nav-item" %>
    <%= link_to "Help", help_path, class: current_page?('/help') ? "sidebar-nav-item active" : "sidebar-nav-item" %>
    <a href='#' class="sidebar-nav-item">Tags</a>
    <% if logged_in? %>
      <%= link_to "Users", users_path, class: current_page?(users_path) ? "sidebar-nav-item active" : "sidebar-nav-item" %>
      <%= link_to "Settings", edit_user_path(current_user), class: current_page?(edit_user_path(current_user)) ? "sidebar-nav-item active" : "sidebar-nav-item" %>
      <%= link_to "Log out", logout_path, method: :delete, class: "sidebar-nav-item" %>
    <% else %>
      <%= link_to "Log in", login_path, class: "sidebar-nav-item" %></li>
    <% end %>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; @loumarven. All rights reserved.
    </p>
  </div>
</div>
