<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/sidebar' %>

    <div class="wrap">
      <%= render 'layouts/masthead' %>

      <div class="container content">
        <% flash.each do |message_type, message| %>
          <%= tag.div message, class: "alert alert-#{message_type}" %>
        <% end %>

        <%= yield %>

        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>
</html>
